<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" type="text/css" href="../styles/styles.css" />
  </head>
  <body>
    <nav>
      <h1>{{pageTitle}}</h1>
      <ul>
        {{#navDetails}}
          <li {{#selected}}class="selected"{{/selected}}><a href="/{{{link}}}">{{title}}</a></li>
        {{/navDetails}}
      </ul>
    </nav>

    {{{pageContent}}}
  </body>
</html>
