<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="stylesheet" href="../styles/prism.css" />
  </head>
  <body>
    <nav>
      <h1>{{pageTitle}}</h1>
      <ul>
        {{#navDetails}}
          <li {{#selected}}class="selected"{{/selected}}><a href="/{{{link}}}">{{title}}</a></li>
        {{/navDetails}}
      </ul>
    </nav>

    <div class="page-wrapper">
      <div class="markup-container">
        <pre><code class="language-markup">{{pageContent}}</code></pre>
      </div>
      <div class="render-wrapper">
        {{{pageContent}}}
      </div>
    </div>
    <script src="../js/prism.js"></script>
  </body>
</html>
