<div class="pos-top-left">TOP LEFT</div>
<div class="pos-top-right">TOP RIGHT</div>
<div class="pos-bottom-left">BOTTOM LEFT</div>
<div class="pos-bottom-right">BOTTOM RIGHT</div>
<div class="pos-center">CENTER</div>
