<div class="lesson-8">
  <div class="container-1">
    <div class="item">Fun with pseudo-classes</div>
    <div class="item">Fun with pseudo-classes</div>
    <div class="item">Fun with pseudo-classes</div>
    <div class="item">Fun with pseudo-classes</div>
    <div class="item">Fun with pseudo-classes</div>
  </div>
</div>
