<div class="container">
  <input id="checkbox1" type="checkbox" />
  <label for="checkbox1">No Style</label>
  <br>
  <br>
  <input id="checkbox2" type="checkbox" />
  <label for="checkbox2">With Style</label>
</div>
