<div class="lesson-9">
  <div class="container">
    <input id="checkbox1" type="checkbox" />
    <label for="checkbox1">👎🏼 💩 👎🏼</label>
    <br>
    <br>
    <input id="checkbox2" type="checkbox" />
    <label class="the-nice-one" for="checkbox2">🎊 😎 🎊</label>
    <br>
    <br>
    <input id="checkbox3" type="checkbox" />
    <label class="the-nice-one" for="checkbox3">😲 😲 😲</label>
  </div>
</div>
