<div class="lesson-5">
  <div class="pos-top-left">
    <p>BLUE BOX</p>
    <p>BOTTOM RIGHT</p>
  </div>
  <div class="pos-top-right">
    <p>YELLOW BOX</p>
    <p>BOTTOM LEFT</p>
  </div>
  <div class="pos-bottom-left">
    <p>PURPLE BOX</p>
    <p>TOP RIGHT</p>
  </div>
  <div class="pos-bottom-right">
    <p>RED BOX</p>
    <p>TOP LEFT</p>
  </div>
  <div class="pos-center">
    <p>GREEN BOX</p>
    <p>NOT CENTER</p>
  </div>
</div>
