body {
  padding: 10px; }
  body form legend {
    margin: 10px 0 5px 0; }
  body form input:not([type="radio"]):not([type="checkbox"]) {
    margin: 10px 0;
    display: block; }

.lesson-3 h1 {
  background-color: salmon; }

.lesson-3 h2 {
  background-color: #ecfa72; }

.lesson-3 p {
  background-color: #72bf76; }

.lesson-3 strong {
  background-color: #b472bf; }

.lesson-3 a {
  background-color: #72bfb9; }

.lesson-3 ul {
  background-color: #7294bf; }

.lesson-3 li {
  background-color: #bf72ba; }

.lesson-4 div {
  background-color: #636363;
  border: 5px solid black;
  color: white;
  width: 30%; }

.lesson-4 div.inline-block {
  display: inline-block; }

.lesson-4 div.float-left {
  float: left; }

.lesson-4 div.float-right {
  float: right; }

.lesson-4 div.float-left p,
.lesson-4 div.float-right p {
  font-size: 40px;
  text-align: center; }

.lesson-4 br {
  clear: left; }

.lesson-5 {
  /* Absolute */
  /* Fixed */
  /* Relative */ }
  .lesson-5 div[class^="pos-"] {
    width: 350px;
    height: 200px;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    line-height: 200px;
    font-size: 30px;
    font-weight: bold;
    position: absolute; }
  .lesson-5 div[class*="top"] {
    top: 0; }
  .lesson-5 div[class*="bottom"] {
    bottom: 0; }
  .lesson-5 div[class*="left"] {
    left: 0; }
  .lesson-5 div[class*="right"] {
    right: 0; }
  .lesson-5 .pos-center {
    top: calc(50% - 100px);
    left: calc(50% - 175px); }
  .lesson-5 .fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 50px;
    border-bottom: 2px solid black;
    background: black;
    color: white; }
  .lesson-5 .fixed + p {
    margin-top: 40px; }

.lesson-6 div {
  background: #72bf76;
  display: inline-block;
  width: 300px;
  border: 5px solid black;
  padding: 20px;
  margin: 10px; }
  .lesson-6 div p {
    border: 1px solid black;
    height: 100%;
    background: #ecfa72;
    padding: 10px; }

.lesson-6 .border-box {
  box-sizing: border-box; }

.lesson-7 div {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat; }

@media (min-width: 1300px) {
  .lesson-7 div {
    background-image: url("./kitten-stretching.png"); } }

@media (min-width: 500px) and (max-width: 1299px) {
  .lesson-7 div {
    background-image: url("./kitten-sitting.png"); } }

@media (max-width: 499px) {
  .lesson-7 div {
    background-image: url("./kitten-curled.png"); } }

body {
  margin: 0; }
  body nav {
    position: fixed;
    width: 150px;
    right: 20px;
    top: 20px;
    border: 1px solid black;
    padding: 5px 10px;
    background-color: white;
    z-index: 9; }
    body nav a {
      display: block;
      font-size: 18px;
      text-decoration: none;
      color: black;
      background-color: white !important; }
      body nav a:hover {
        text-decoration: underline; }
      body nav a + a {
        margin-top: 5px; }
  body footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #336699;
    padding: 10px; }
    body footer a {
      color: #AAAAAA;
      text-decoration: none; }
