.lesson-8 {
  .item {
    width: 200px;
    margin: 15px auto;
    border: 1px solid rgb(250, 128, 114);
    font-size: 18px;
    padding: 3px 10px;

    &:nth-of-type(2n) {
      background: rgb(180, 114, 191);
    }

    &:first-of-type {
      background: rgb(236, 250, 114);
    }

    &::first-letter {
      font-size: 25px;
      color: rgb(250, 128, 114);
    }

    &:hover {
      width: 250px;
      text-align: center;
    }
  }
}
