.lesson-3 {
  h1 {
    background-color: rgb(250, 128, 114);
  }

  h2 {
    background-color: rgb(236, 250, 114);
  }

  p {
    background-color: rgb(114, 191, 118);
  }

  strong {
    background-color: rgb(180, 114, 191);
  }

  a {
    background-color: rgb(114, 191, 185);
  }

  ul {
    background-color: rgb(114, 148, 191);
  }

  li {
    background-color: rgb(191, 114, 186);
  }
}
