.lesson-5 {
  /* Absolute */
  min-height: 400px;

  div[class^="pos-"] {
    width: 175px;
    height: 100px;
    border: 2px solid black;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
  }

  div[class*="top"] {
    top: 0;
  }

  div[class*="bottom"] {
    bottom: 0;
  }

  div[class*="left"] {
    left: 0;
  }

  div[class*="right"] {
    right: 0;
  }

  .pos-center {
    top: calc(50% - 50px);
    left: calc(50% - 82px);
    background-color: rgb(180, 114, 191);
  }

  .pos-top-left {
    background-color: rgb(236, 250, 114);
  }

  .pos-top-right {
    background-color: rgb(114, 191, 118);
  }

  .pos-bottom-left {
    background-color: rgb(250, 128, 114);
  }

  .pos-bottom-right {
    background-color: rgb(114, 148, 191);
  }


  /* Fixed */
  h2 {
    text-align: center;
  }

  p {
    text-align: center;
  }

  /* Relative */
}
