.lesson-9 {
  .container {
    width: 300px;
    margin: 0 auto;

    label {
      font-size: 30px;
    }

    #checkbox2 {
      // position: absolute;
      // left: -99999px;

      // or

      visibility: hidden;

      &:checked + label:after {
        visibility: visible;
      }
    }

    label[for="checkbox2"] {
      position: relative;

      &::before {
        content: '';
        border: 2px solid rgb(114, 148, 191);
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }

      &::after {
        content: '';
        display: inline-block;
        width: 12px;
        height: 12px;
        background: rgb(180, 114, 191);
        position: absolute;
        left: 4px;
        top: 12px;
        visibility: hidden;
      }
    }
  }
}
