@import "./lesson-2";
@import "./lesson-3";
@import "./lesson-4";
@import "./lesson-5";
@import "./lesson-6";
@import "./lesson-7";
@import "./lesson-8";
@import "./lesson-9";

html, body {
  height: 100%;
}

body {
  margin: 0;

  nav {
    position: fixed;
    background: rgb(79, 99, 228);
    padding: 0 15px;

    h1 {
      color: rgb(242, 240, 64);
      font-weight: normal;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        padding: 0 5px;
        height: 45px;
        width: 350px;

        &:not(:last-of-type) {
          border-bottom: 1px solid rgb(227, 61, 61);
        }

        &.selected,
        &:hover {
          background: rgb(242, 240, 64);
          cursor: pointer;

          a {
            color: rgb(227, 61, 61);
          }
        }
      }

      a {
        color: rgb(242, 240, 64);
        display: block;
        font-size: 18px;
        text-decoration: none;
        line-height: 45px;
      }
    }
  }

  div[class*="lesson"] {
    margin-left: 400px;
    position: relative;
    height: 100%;
  }
}
