@import "./lesson-2";
@import "./lesson-3";
@import "./lesson-4";
@import "./lesson-5";
@import "./lesson-6";
@import "./lesson-7";
@import "./lesson-8";

body {
  margin: 0;

  nav {
    position: fixed;
    width: 150px;
    right: 20px;
    top: 20px;
    border: 1px solid black;
    padding: 5px 10px;
    background-color: white;
    z-index: 99;

    a {
      display: block;
      font-size: 18px;
      text-decoration: none;
      color: black;
      background-color: white !important;

      &:hover {
        text-decoration: underline;
      }

      & + a {
        margin-top: 5px;
      }
    }
  }
}
