@import "./lesson-2";
@import "./lesson-3";
@import "./lesson-4";
@import "./lesson-5";
@import "./lesson-6";
@import "./lesson-7";
@import "./lesson-8";
@import "./lesson-9";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  nav {
    box-sizing: border-box;
    border-right: 2px solid #f92672;
    position: fixed;
    background: #272822;
    padding: 0 15px;
    height: 100%;
    top: 0;
    z-index: 2;

    * {
      box-sizing: border-box;
    }

    h1 {
      color: #a6e22e;
      font-size: 18px;
      font-weight: normal;
      text-align: center;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        padding: 0 5px;
        height: 30px;
        width: 270px;
        border-bottom: 1px solid transparent;

        &.selected,
        &:hover {
          border-color: #a6e22e;
          cursor: pointer;

          a {
            color: #f92672;
          }
        }
      }

      a {
        color: white;
        display: block;
        font-size: 15px;
        text-decoration: none;
        line-height: 30px;
      }
    }
  }

  .page-wrapper {
    display: flex;

    .markup-container {
      margin-left: 300px;
      flex: 1 auto;
      order: 1;

      pre {
        border-radius: 0;
        margin-top: 0;
        display: inline-block !important;
        width: 500px;
        max-height: 600px;
        font-size: 12px;
      }
    }

    .render-wrapper {
      border: 1px solid black;
      flex: 1 100%;
      order: 2;
      padding: 10px;

      div[class*="lesson"] {
        position: relative;
        height: 100%;
      }
    }
  }
}
